.main{
  position: relative;
  &__banner {
    @include flexContainerConfig(column, nowrap, flex-start, center);
    height        : 100vh;
    text-align    : center;
    background    : url(../assets/images/MohamedNohassi.jpg) center / cover no-repeat fixed;
    &__title {
      @include typoSet ($fw-medium, $fs-bannerTitle, $fs-bannerTitle, $font-Mont);
      margin          : calc(100vw * (220 / 1280)) 0 calc(100vw * (40 / 1280));
      width           : 100vw;
      color           : $mainWhite;
      letter-spacing  : $ls-bannerTitle;
    }
    &__text {
      @include typoSet ($fw-light, $fs-bannerText, $lh-bannerText, $font-Quest);
      letter-spacing  : $ls-bannerText;
      color           : $mainWhite;
    }
    &__anchorBtn {
      margin  : calc(100vw * (60 / 1280)) 0 calc(100vw * (25 / 1280)) 0;
    }
  }
  &__gallery {
    @include flexContainerConfig(column, nowrap, flex-start, center);
    margin    : calc(100vw * (55 / 1280)) 0 0;
    &__displayModes {
      @include flexContainerConfig(row, nowrap, center, center);
      margin    : 0 0 calc(100vw * (80 / 1280)) 0;
      width     : 100vw;
      .displayMode {
        margin        : 0 calc(100vw * (12 / 1280));
        width         : calc(100vw * (14 / 1280));
        height        : calc(100vw * (14 / 1280));
        transition    : all 0.2s linear;
        &:hover {
          transform   : scale(1.5);
          filter      : contrast(300%);
          cursor      : pointer;
        }
      }
      &__gridMode {
        background : url(../assets/controls/gridIcon.png) center / cover no-repeat;
      }
      &__flexMode {

        background : url(../assets/controls/flexIcon.png) center / cover no-repeat;
      }
    }
    &__mainCategories {
      margin    : 0 0 calc(100vw * (60 / 1280)) 0;
    }
    &__display {
      width     : calc(100vw * (1152 / 1280));
      margin    : 0 0 calc(100vw * (24 / 1280)) 0;
      grid-template-columns: repeat(3, 1fr) ;
      grid-template-rows: repeat(7, calc(100vw * (180 / 1280)));
      gap: calc(100vw * (24 / 1280));
      grid-auto-flow: dense;
      &__imgCtn {
        position: relative;
        width: calc(100vw * (367 / 1280));
        &__mask {
          position: absolute;
          top: 0;
          background-color: rgba(0, 255, 255, 0.268);
        }
        &__srcImg {
          width: 100%;
          height: 100%;
        }
        &:nth-child(1) {
          grid-column: 1/2;
          grid-row:span 2;
        }
        &:nth-child(2) {
          grid-column: 2/3;
          grid-row: span 1;
        }
        &:nth-child(3) {
          grid-column: 3/4;
          grid-row: span 3;
        }
        &:nth-child(4) {
          grid-column: 1/2;
          grid-row: span 3;
        }
        &:nth-child(5) {
          grid-column: 2/3;
          grid-row: span 3;
        }
        &:nth-child(6) {
          grid-column: 3/4;
          grid-row: span 1;
        }
        &:nth-child(7) {
          grid-column: 1/2;
          grid-row: span 2;
        }
        &:nth-child(8) {
          grid-column: 2/3;
          grid-row: span 3;
        }
        &:nth-child(9) {
          grid-column: 3/4;
          grid-row:  span 1;
        }
        &:nth-child(10) {
          grid-column: 3/4;
          grid-row: span 2;
        }
      }
    }
    &__showMore {
      margin    :  calc(100vw * (80 / 1280)) 0;
      font-size: $fs-showMeMoreButton;
      letter-spacing: $ls-showMeMoreButton;
      &__button {
        color             : $mainWhite;
        background-color  : $mainPink;
        &:hover {
          border            : 1px solid $mainPink;
          color             : $mainPink;
          background-color  : $mainWhite;
        }
      }
    }
  }
}
// *****************************************************************************************************
// MEDIA QUERIES
@media screen and (max-width: 425px){}