/* RESET STYLES */
/* http://meyerweb.com/eric/tools/css/reset/ - v2.0 | 20110126 - License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  scrollbar-width: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

a:visited {
  color: unset;
}

button {
  background-color: unset;
  border: unset;
}

.flexCtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gridCtn {
  display: -ms-grid;
  display: grid;
}

.displayNone {
  display: none;
}

.visibilityHidden {
  visibility: hidden;
}

.mainCategoriesQueries {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 400 calc(100vw * (16 / 1280))/calc(100vw * (16 / 1280)) "Questrial", sans-serif;
}

.mainCategoriesQueries .mainCategory {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.5%;
  width: calc(100vw * (106 / 1280));
  height: calc(100vw * (42 / 1280));
  color: #707070;
  background-color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.mainCategoriesQueries .mainCategory:hover {
  color: #fff;
  background-color: #ff5672;
  cursor: pointer;
}

.mainCategoriesQueries .mainCategory:hover a {
  cursor: pointer;
}

.mainCategoriesQueriesSelected {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  background-color: #ff5672;
}

.mainCategoriesQueriesSelected:visited {
  color: #fff;
}

.trigFetch {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 300 calc(100vw * (14 / 1280))/calc(100vw * (2 / 1280)) "Questrial", sans-serif;
  width: calc(100vw * (170 / 1280));
  height: calc(100vw * (40 / 1280));
  color: #ff5672;
  background-color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button:visited {
  color: #ff5672;
}

.button:hover {
  color: #fff;
  background-color: #ff5672;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.displayModeSelected {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 425px) {
  .mainCategoriesQueries {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font: 400 calc(100vw * (16 / 425))/calc(100vw * (16 / 425)) "Questrial", sans-serif;
  }
  .mainCategoriesQueries .mainCategory {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: calc(100vw * (20 / 425)) 0 0;
    border-bottom: 2px solid #ff5672;
    width: 50vw;
    height: calc(100vw * (42 / 425));
    color: #707070;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .mainCategoriesQueries .mainCategory:hover {
    color: #fff;
    background-color: #ff5672;
    cursor: pointer;
  }
  .mainCategoriesQueriesSelected {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border: 1px solid #ff5672;
  }
  .button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font: 300 calc(100vw * (14 / 425))/calc(100vw * (2 / 425)) "Questrial", sans-serif;
    width: calc(100vw * (170 / 425));
    height: calc(100vw * (40 / 425));
    color: #ff5672;
    background-color: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .button:visited {
    color: #ff5672;
  }
  .button:hover {
    color: #fff;
    background-color: #ff5672;
    cursor: pointer;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 0 calc(100vw * (96 / 1280));
  width: 100vw;
  height: calc(100vw * (106 / 1280));
}

.header__logo {
  width: calc(100vw * (186 /1280));
  height: calc(100vw * (35 / 1280));
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header__logo img:hover {
  cursor: pointer;
}

.header__desktopNav .mainCategoriesQueries {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__desktopNav .mainCategoriesQueries a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.header__desktopNav .mainCategoriesQueries .search {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__desktopNav .mainCategoriesQueries .search__button {
  margin: 0 0 0 calc(100vw * (15 / 1280));
  width: calc(100vw * (22 / 1280));
  height: calc(100vw * (22 / 1280));
  background: url(../assets/controls/searchIcon.svg) center/cover no-repeat;
}

.header__desktopNav .mainCategoriesQueries .search__button:hover {
  cursor: pointer;
}

.header__desktopNav .mainCategoriesQueries .search__button:focus {
  outline: none;
}

.header__desktopNav .mainCategoriesQueries .search__input {
  font: 400 calc(100vw * (16 / 1280))/calc(100vw * (16 / 1280)) "Questrial", sans-serif;
  margin: 0 0 0 calc(100vw * (10 / 1280));
  border: 1px solid #ff5672;
  border-radius: calc(100vw * (2 / 1280));
  width: calc(100vw * (150 / 1280));
  height: calc(100vw * (30 / 1280));
  text-align: center;
  border-width: 0;
  width: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__desktopNav .mainCategoriesQueries .search__input::-webkit-input-placeholder {
  font-size: calc(100vw * (13 / 1280));
}

.header__desktopNav .mainCategoriesQueries .search__input:-ms-input-placeholder {
  font-size: calc(100vw * (13 / 1280));
}

.header__desktopNav .mainCategoriesQueries .search__input::-ms-input-placeholder {
  font-size: calc(100vw * (13 / 1280));
}

.header__desktopNav .mainCategoriesQueries .search__input::placeholder {
  font-size: calc(100vw * (13 / 1280));
}

.header__desktopNav .mainCategoriesQueries .search__input:focus {
  outline: none;
}

.header__desktopNav .mainCategoriesQueries .search__input:hover {
  cursor: text;
}

.header__hamburger {
  display: none;
}

.header__mobileNav {
  display: none;
  overflow: hidden;
}

@media screen and (max-width: 425px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    padding: 0 calc(100vw * (50 / 425));
    width: 100vw;
    height: calc(100vw * (100 / 425));
  }
  .header__logo {
    width: calc(100vw * (186 /425));
    height: calc(100vw * (35 / 425));
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  .header__logo img:hover {
    cursor: pointer;
  }
  .header__desktopNav {
    display: none;
  }
  .header__hamburger {
    display: block;
    width: calc(100vw * (24 / 425));
    height: calc(100vw * (24 / 425));
  }
  .header__hamburger:nth-of-type(1) {
    background: url(../assets/controls/hamburgerIcon.svg) center/cover no-repeat;
  }
  .header__hamburger:nth-of-type(2) {
    display: none;
    background: url(../assets/controls/closeIcon.svg) center/cover no-repeat;
  }
  .header__mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: calc(100vw * (100 / 425));
    left: 0;
    overflow: hidden;
    z-index: 1000;
    width: 100vw;
    height: 83vh;
    height: 0;
    background-color: rgba(255, 255, 255, 0.96);
    -webkit-transition: height 0.5s linear;
    transition: height 0.5s linear;
  }
  .header__mobileNav .mainCategoriesQueries {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  .header__mobileNav .mainCategoriesQueries a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .header__mobileNav .mainCategoriesQueries .search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  .header__mobileNav .mainCategoriesQueries .search__button {
    margin: 0 0 0 calc(100vw * (15 / 425));
    width: calc(100vw * (22 / 425));
    height: calc(100vw * (22 / 425));
    background: url(../assets/controls/searchIcon.svg) center/cover no-repeat;
  }
  .header__mobileNav .mainCategoriesQueries .search__button:focus {
    outline: none;
  }
  .header__mobileNav .mainCategoriesQueries .search__input {
    font: 400 calc(100vw * (16 / 425))/calc(100vw * (16 / 425)) "Questrial", sans-serif;
    margin: 0 calc(100vw * (50 / 425)) 0 calc(100vw * (10 / 425));
    border: 1px solid #ff5672;
    border-radius: calc(100vw * (2 / 425));
    width: calc(100vw * (250 / 425));
    height: calc(100vw * (30 / 425));
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__mobileNav .mainCategoriesQueries .search__input:focus {
    outline: none;
  }
}

.main {
  position: relative;
  overflow-x: hidden;
  top: calc(100vw * (106 / 1280));
}

.main__banner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
  background: url(../assets/images/MohamedNohassi.jpg) center/cover no-repeat fixed;
}

.main__banner__title {
  font: 700 calc(100vw * (40 / 1280))/calc(100vw * (40 / 1280)) "Montserrat", sans-serif;
  margin: calc(100vw * (220 / 1280)) 0 calc(100vw * (40 / 1280));
  width: 100vw;
  color: #fff;
  letter-spacing: calc(100vw * (12 / 1280));
}

.main__banner__text {
  font: 300 calc(100vw * (17 / 1280))/calc(100vw * (22 / 1280)) "Questrial", sans-serif;
  letter-spacing: calc(100vw * (3 / 1280));
  color: #fff;
}

.main__banner__anchorBtn {
  margin: calc(100vw * (40 / 1280)) 0 calc(100vw * (25 / 1280)) 0;
}

.main__gallery {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: calc(100vw * (55 / 1280)) 0 0;
}

.main__gallery #scrollToGallery {
  position: absolute;
  top: calc(100vw * (-161 / 1280));
}

.main__gallery__displayModes {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 calc(100vw * (80 / 1280)) 0;
  width: 100vw;
}

.main__gallery__displayModes .displayMode {
  margin: 0 calc(100vw * (12 / 1280));
  width: calc(100vw * (14 / 1280));
  height: calc(100vw * (14 / 1280));
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main__gallery__displayModes .displayMode:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: contrast(300%);
          filter: contrast(300%);
  cursor: pointer;
}

.main__gallery__displayModes__gridMode {
  background: url(../assets/controls/gridIcon.png) center/cover no-repeat;
}

.main__gallery__displayModes__flexMode {
  background: url(../assets/controls/flexIcon.png) center/cover no-repeat;
}

.main__gallery__mainCategories {
  margin: 0 0 calc(100vw * (60 / 1280)) 0;
}

.main__gallery__mainCategories a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.main__gallery .flexGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__gallery .flexGallery .main__gallery__display__imgCtn {
  width: calc(100vw * (900 / 1280));
  height: calc(100vw * (550 / 1280));
}

.main__gallery .gridGallery {
  display: -ms-grid;
  display: grid;
}

.main__gallery__display {
  width: calc(100vw * (1152 / 1280));
  margin: 0 0 calc(100vw * (24 / 1280)) 0;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (calc(100vw * (180 / 1280)))[7];
      grid-template-rows: repeat(7, calc(100vw * (180 / 1280)));
  gap: calc(100vw * (24 / 1280));
  grid-auto-flow: dense;
}

.main__gallery__display__imgCtn {
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  position: relative;
  width: calc(100vw * (367 / 1280));
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.main__gallery__display__imgCtn:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.main__gallery__display__imgCtn:hover .main__gallery__display__imgCtn__mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__gallery__display__imgCtn__mask {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ff5672ab;
  color: #fff;
}

.main__gallery__display__imgCtn__mask h3 {
  font: 700 calc(100vw * (19 / 1280))/calc(100vw * (19 / 1280)) "Montserrat", sans-serif;
  padding: 0 0 5%;
  width: 80%;
  border-bottom: 2px solid #fff;
  letter-spacing: calc(100vw * (6 / 1280));
  text-align: center;
}

.main__gallery__display__imgCtn__mask h4 {
  font: 400 calc(100vw * (20 / 1280))/calc(100vw * (20 / 1280)) "Montserrat", sans-serif;
  padding: 5% 0 0;
  letter-spacing: calc(100vw * (4 / 1280));
}

.main__gallery__display__imgCtn__srcImg {
  width: 100%;
  height: 100%;
}

.main__gallery__display__imgCtn:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: span 2;
}

.main__gallery__display__imgCtn:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: span 1;
}

.main__gallery__display__imgCtn:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-row: span 3;
}

.main__gallery__display__imgCtn:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: span 3;
}

.main__gallery__display__imgCtn:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: span 3;
}

.main__gallery__display__imgCtn:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-row: span 1;
}

.main__gallery__display__imgCtn:nth-child(7) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: span 2;
}

.main__gallery__display__imgCtn:nth-child(8) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: span 3;
}

.main__gallery__display__imgCtn:nth-child(9) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-row: span 1;
}

.main__gallery__display__imgCtn:nth-child(10) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  grid-row: span 2;
}

.main__showMore {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: calc(100vw * (80 / 1280)) auto;
  font-size: calc(100vw * (13 / 1280));
  letter-spacing: calc(100vw * (3 / 1280));
}

.main__showMore__button {
  color: #fff;
  background-color: #ff5672;
}

.main__showMore__button:hover {
  border: 1px solid #ff5672;
  color: #ff5672;
  background-color: #fff;
}

@media screen and (max-width: 425px) {
  .main {
    top: calc(100vw * (100 / 425));
  }
  .main__banner {
    background: url(../assets/images/bannerMobile-DamienDufour.jpg) center/cover no-repeat fixed;
  }
  .main__banner__title {
    font: 700 calc(100vw * (40 / 425))/calc(100vw * (40 / 425)) "Montserrat", sans-serif;
    margin: calc(100vw * (80 / 425)) 0 calc(100vw * (40 / 425));
    width: 100vw;
    letter-spacing: calc(100vw * (12 / 425));
  }
  .main__banner__text {
    font: 300 calc(100vw * (17 / 425))/calc(100vw * (22 / 425)) "Questrial", sans-serif;
    width: 80vw;
    margin: 0 0 calc(100vw * (20 / 425));
    letter-spacing: calc(100vw * (3 / 425));
  }
  .main__banner__anchorBtn {
    margin: calc(100vw * (50 / 425)) 0 calc(100vw * (5 / 425)) 0;
  }
  .main__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: calc(100vw * (70 / 425)) 0 0;
  }
  .main__gallery #scrollToGallery {
    position: absolute;
    top: calc(100vw * (285 / 425));
  }
  .main__gallery__displayModes {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 calc(100vw * (40 / 425)) 0;
    width: 100vw;
  }
  .main__gallery__displayModes .displayMode {
    margin: 0 calc(100vw * (12 / 425));
    width: calc(100vw * (14 / 425));
    height: calc(100vw * (14 / 425));
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  .main__gallery__displayModes__gridMode {
    background: url(../assets/controls/gridIcon.png) center/cover no-repeat;
  }
  .main__gallery__displayModes__flexMode {
    background: url(../assets/controls/flexIcon.png) center/cover no-repeat;
  }
  .main__gallery__mainCategories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 calc(100vw * (60 / 425)) 0;
  }
  .main__gallery__mainCategories .mainCategory {
    border: unset;
    height: calc(100vw * (45 / 425));
  }
  .main__gallery .flexGallery, .main__gallery .gridGallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__gallery .flexGallery .main__gallery__display__imgCtn, .main__gallery .gridGallery .main__gallery__display__imgCtn {
    width: calc(100vw * (400 / 425));
    height: calc(100vw * (550 / 425));
  }
  .main__gallery__display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw * (370 / 425));
    margin: 0 0 calc(100vw * (24 / 425)) 0;
    -ms-grid-rows: (calc(100vw * (180 / 425)))[7];
        grid-template-rows: repeat(7, calc(100vw * (180 / 425)));
    gap: calc(100vw * (0 / 425));
  }
  .main__gallery__display__imgCtn {
    width: calc(100vw * (367 / 425));
    margin: 0 0 calc(100vw * (24 / 425));
  }
  .main__gallery__display__imgCtn h3 {
    font: 700 calc(100vw * (19 / 425))/calc(100vw * (19 / 425)) "Montserrat", sans-serif;
    letter-spacing: calc(100vw * (6 / 425));
  }
  .main__gallery__display__imgCtn h4 {
    font: 400 calc(100vw * (20 / 425))/calc(100vw * (20 / 425)) "Montserrat", sans-serif;
    letter-spacing: calc(100vw * (4 / 425));
  }
  .main__showMore {
    margin: calc(100vw * (20 / 425)) 0 calc(100vw * (60 / 425));
    font-size: calc(100vw * (13 / 425));
    letter-spacing: calc(100vw * (3 / 425));
  }
  .main__showMore__button {
    color: #fff;
    background-color: #ff5672;
  }
  .main__showMore__button:hover {
    border: 1px solid #ff5672;
    color: #ff5672;
    background-color: #fff;
  }
}

.footer {
  position: relative;
  top: calc(100vw * (106 / 1280));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  margin: 0 0 calc(100vw * (50 / 1280));
}

.footer__copyright__text {
  font: 400 calc(100vw * (13 / 1280))/calc(100vw * (13 / 1280)) "Questrial", sans-serif;
  color: #c3d0d8;
  letter-spacing: calc(100vw * (3 / 1280));
}

.footer__copyright__text span {
  color: #ff5672;
}

.footer__socialMedia {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 calc(100vw * (60 / 1280));
}

.footer__socialMedia__logoLink {
  margin: 0 calc(100vw * (10 / 1280));
  padding: calc(100vw * (5 / 1280));
  width: calc(100vw * (25 / 1280));
  height: calc(100vw * (25 / 1280));
}

.footer__socialMedia__logoLink:hover {
  cursor: pointer;
}

.footer__socialMedia__logoLink:hover svg path {
  fill: red;
  cursor: pointer;
}

.footer__socialMedia__logoLink svg {
  width: 100%;
  height: 100%;
}

.footer__socialMedia__logoLink svg:hover {
  cursor: pointer;
}

.footer__socialMedia__logoLink:nth-child(5) {
  width: calc(100vw * (35 / 1280));
  height: calc(100vw * (35 / 1280));
}

@media screen and (max-width: 425px) {
  .footer {
    top: calc(100vw * (100 / 425));
    margin: 0 0 calc(100vw * (100 / 425));
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__copyright__text {
    font: 400 calc(100vw * (13 / 425))/calc(100vw * (13 / 425)) "Questrial", sans-serif;
    color: #c3d0d8;
    letter-spacing: calc(100vw * (3 / 425));
  }
  .footer__copyright__text span {
    color: #ff5672;
  }
  .footer__socialMedia {
    margin: 0 0 calc(100vw * (50 / 425));
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__socialMedia__logoLink {
    margin: 0 calc(100vw * (10 / 425));
    padding: calc(100vw * (5 / 425));
    width: calc(100vw * (25 / 425));
    height: calc(100vw * (25 / 425));
  }
  .footer__socialMedia__logoLink:hover {
    cursor: pointer;
  }
  .footer__socialMedia__logoLink:hover svg path {
    fill: red;
    cursor: pointer;
  }
  .footer__socialMedia__logoLink svg {
    width: 100%;
    height: 100%;
  }
  .footer__socialMedia__logoLink svg:hover {
    cursor: pointer;
  }
  .footer__socialMedia__logoLink:nth-child(5) {
    width: calc(100vw * (35 / 425));
    height: calc(100vw * (35 / 425));
  }
}
/*# sourceMappingURL=style.css.map */